/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
/sass-cache
.sass-cache
.sass-cache/*
node_modules/*
.node_modules
/git
.git/*
Thumbs.db
.env.*.php
.env.php
.env

