/* -------------- */
/*--- Colours --- */
/* -------------- */

/*-- Backgrounds --*/

$mainRowBg: #22313f; /*-- Ebony Clay --*/
$centreRowBg: #dadfe1; /*-- Iron --*/
$altRowBg: #f2f1ef; /*-- Cararra --*/
$footerBg: #282830;
$parallaxBg: #25373D;

/*-- Text --*/
$primaryTitleColor: #999;
$secondaryTitleColor: #fff;
$parallaxTextHover: #000;

/*-- Hover --*/
$linkHover: #fde3a7; /*-- Cape Honey --*/
$parallaxHoverBg: #fff;

/*-- Border --*/
$parallaxBtnBorder: #fff;