/* -------------- */
/*--- Colours --- */
/* -------------- */

$mainRowBg: #22313f; /*-- Ebony Clay --*/
$centreRowBg: #dadfe1; /*-- Iron --*/
$altRowBg: #f2f1ef; /*-- Cararra --*/
$linkHover: #fde3a7; /*-- Cape Honey --*/