/* -------------- */
/*--- Colours --- */
/* -------------- */

/*-- Backgrounds --*/
$mainRowBg: #22313f; /*-- Ebony Clay --*/
$centreRowBg: #dadfe1; /*-- Iron --*/
$altRowBg: #f2f1ef; /*-- Cararra --*/
$footerBg: #282830;
$parallaxBg: #25373D;

/*-- Text --*/
$primaryTitleColor: #999;
$secondaryTitleColor: #fff;
$parallaxTextHover: #000;

/*-- Link --*/
$navLinkColor: #fff;

/*-- Hover --*/
$linkHover: #fff; /*-- Cape Honey --*/
$parallaxHoverBg: #fff;
$activeNavHover: #fff;

/*-- Active --*/
$activeNav: #dadfe1; /*-- Iron --*/

/*-- Border --*/
$parallaxBtnBorder: #fff;
$navBorderColor: #fff;