@import url(//fonts.googleapis.com/css?family=Lato:700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import 'colours';
@import '../vendor/foundation/scss/foundation';


body {
	margin:0;
	font-family: 'Source Sans Pro', sans-serif;
	text-align:center;
	color: #999;
}

a, a:visited {
	text-decoration:none;
}

hr {
	opacity: 0.2;
}

h1 {
font-family: 'Source Sans Pro', sans-serif;
	font-size: 32px;
	margin: 16px 0 0 0;
}

h2 {
	color: $primaryTitleColor;
	margin:0;
}

.left {
	float: left;
}

.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0;
}

.copyright {
	background: $footerBg;
}

.contact-row, .bio-row, .experience-row, .tools-row, .projects-row, .contact-row {
	padding: 5em 0;
	position: relative;
}

/*-- Top Nav Content --*/
.nav-row {
	background-color: $mainRowBg;
  border-bottom: 0.15em solid $navBorderColor;
	position: fixed;
  display: block;
  padding: 0;
	z-index: 1;
    top: 0;
    width: 100%;
    ul {
    	li {
	    	list-style: none;
	    	color: $navLinkColor;
        a.nav-item {
          padding: 1em;
          display: block;
          &.active {
            display: block;
            font-weight: bold;
            background-color: $activeNav;
    	    	&:hover {
    	    		color: $activeNavHover;
    	    	}
          }
	    		&:hover {
		    		color: $activeNavHover;
		    	}
	    	}
	    }
    }
}

/*-- Bio Content --*/
.bio-row {
	background-color: $altRowBg;
}

/*-- Experience Content --*/
.experience-row {
	background-color: $centreRowBg;
}

/*-- Tools Content --*/
.tools-row {
	background-color: $altRowBg;
}

/*-- Projects Content --*/
.projects-row {
	background-color: $centreRowBg;
}

/*-- Contact Content --*/
.contact-row {
	background-color: $mainRowBg;
	.contact-container {
		@extend .large-12;
		@extend .columns;
	}
}

/*-- Parallax Content --*/
.parallax-row {
	height:300px;
}

.parallax-background {
  background-color: $parallaxBg;
  height: 620px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  width: 100%;
  .top-parallax-btn{
    border: 1px solid $parallaxBtnBorder;
    background: none;
    &:hover{
    	background: $parallaxHoverBg;
    	color: $parallaxTextHover;
    }
  }
}

.intro-text {
  font-size: 50px;
  color: #fff;
  text-align: center;
  margin-top: 7%;
}

.parallax-content {
  max-width: 100%;
  position: relative;
  top: 500px;
  padding: 50px;
  font-size: 20px;
  background-color: #fff;
}


/*--- NEW CONTENT ---*/
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body {
  font-family: 'Open Sans', sans-serif;
}
 
/* Navigation */
 


 
/* Headings */
 
h1 {
  font-size: 5rem;
  color: #34495E;
}
 
/* Sections */
 
section {
  width: 100%;
  padding: 50px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  height: 500px;
  text-align: center;
}
section:nth-child(even) {
  background: #ecf0f1;
}
section:nth-child(odd) {
  background: #bdc3c7;
}
.sections section:first-child {
  margin-top: 60px;
}
section.active {}